<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">

    <header class="toolbar-top">
        TableQ
        <img src="/img/favicon/favicon_io_reverse/android-chrome-192x192.png" style="height: 50px ;">

        <nav>
            <button class="btn btn-light" onclick="location.href='/auth'">로그인</button>
            <!--        <button class="btn btn-light" onclick="location.href='/signup'">회원가입</button>-->
        </nav>
</header>
</html>