<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<!--FOOTER-->
    <footer class="section">
        <div class="inner clearfix">

            <!--<ul class="site-links float&#45;&#45;right">
                <li><a href="#">Contact&nbsp;CaffeineCode</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>-->

            <ul class="site-links float--left">
                <li>© 2024 Table Q.</li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Help</a></li>
            </ul>

            <a class="logo" href="#">
                <svg></svg>
            </a>

        </div>
    </footer>
</html>