<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<!--<div style="border: solid 1px yellow">-->
        <header class="toolbar-top" style="height: 70px">
        <img src="/img/logo.png" style="height: 50px; margin: 10px;">

        <nav>
            <button class="btn btn-success" onclick="location.href='/login1'">로그인</button>
            <!--        <button class="btn btn-light" onclick="location.href='/signup'">회원가입</button>-->
        </nav>
    </header>
<!--</div>-->
</html>