<!-- left-sidebar-->
<div th:fragment="SidebarFragment" class="left-sidebar bg-light vh-100 p-3">
    <nav class="nav flex-column">
        <!-- Example Menu Items -->
        <a href="/owner/reservation" class="nav-link text-dark border rounded mb-2 p-2">
            예약 상황
        </a>
        <a href="/owner/business-info" class="nav-link text-dark border rounded mb-2 p-2">
            사업자정보 설정
        </a>
        <a href="/owner/restaurant" class="nav-link text-dark border rounded mb-2 p-2">
            점포 설정
        </a>
        <a href="/owner/restaurant-image" class="nav-link text-dark border rounded mb-2 p-2">
            점포 이미지 설정
        </a>
        <a href="/owner/openinghour" class="nav-link text-dark border rounded mb-2 p-2">
            운영시간 설정
        </a>
        <a href="/owner/breakhour" class="nav-link text-dark border rounded mb-2 p-2">
            휴무시간 설정
        </a>
        <a href="/owner/menu-item" class="nav-link text-dark border rounded mb-2 p-2">
            메뉴 설정
        </a>
        <a href="/owner/restaurant-amenity" class="nav-link text-dark border rounded mb-2 p-2">
            점포 편의시설 설정
        </a>
        <a href="/owner/restaurant-keyword" class="nav-link text-dark border rounded mb-2 p-2">
            점포 키워드 설정
        </a>
    </nav>
</div>