/* 기본 레이아웃 설정 */
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* 헤더 스타일 */
header {
  background-color: #343a40;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

.logo a {
  background: center / contain no-repeat url("/img/logo-reverse.png");
  width: 131px;
  height: 30px;
  display:flex;
  align-items: center;
  text-indent: -9999px;
  text-decoration: none;
}

/* 전체 레이아웃을 flex로 설정 */
.main-container {
  display: flex;
  flex: 1;
  margin-top: 20px; /* 헤더와 내용 사이에 간격 추가 */
}

/* 사이드바 스타일 */
.left-sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 80px); /* 사이드바의 높이를 화면 높이에 맞게 설정 (헤더 제외) */
}

/* 콘텐츠 영역 스타일 */
.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - 80px); /* 콘텐츠 영역 높이를 헤더 제외 후 설정 */
  overflow-y: auto; /* 콘텐츠가 넘칠 경우 스크롤 추가 */
}

/* 푸터 스타일 */
footer {
  background-color: #343a40;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1em;
}
