<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/fragments/restaurantWaiting/config :: ConfigFragment}"></head>
<body>
    <div class="container">
        <header th:replace="~{common/fragments/restaurantWaiting/header :: HeaderFragment}">
        </header>
        <main layout:fragment="Content">
            <!-- Content will be injected here from content.html -->
        </main>
    </div>
</body>
</html>
