<main layout:decorate="~{common/layouts/restaurantLayout}"
      layout:fragment="Content">

    <div class="child">
        <div class="row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-4 text-orange text-center" style="font-weight:bold">점주 마이페이지</h4>
                <form class="validation-form" id="signupForm"  novalidate>
                    <div class="mb-2">
                        <label for=email>아이디</label>
                        <div class="certification">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="" required readonly>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="" required readonly>
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="phone">전화번호</label>
                        <div class="certification">
                            <input type="number" class="form-control" id="phone" name="phoneNumber"
                                   placeholder="숫자만 입력해주세요." readonly required>
                            <button type="button">변경</button>
                        </div>
                        <div class="invalid-feedback">
                            전화번호를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-2">
                        <p>비밀번호</p>
                        <!--<div class="certification">
                            <p>새로운 비밀번호로 변경 가능</p>
                        </div>-->
                        <div class="card">
                            <div class="card-body">
                                새로운 비밀번호로 변경 가능
                            </div>
                        </div>
                    </div>

                    <div class="mb-4 row justify-content-center">
                      <div class="col-auto">
                        <button class="btn btn-orange btn-lg text-light" type="submit" form="signupForm" style="width: 200px;">수정</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small">
            <p class="mb-1">© 2024 Table Q.</p>
        </footer>
    </div>
</main>

<script defer src="/js/ownerMypage.js"></script>
