<main layout:decorate="~{common/layouts/mainLayout}"
      layout:fragment="Content">
    <div class="section-list">
        <section class="search-section">
            <h2>맛있는 식사를 예약하세요</h2>
            <form id="searchForm">
                <input
                        type="text"
                        id="searchInput"
                        th:value="${searchKeyword}"
                        placeholder="레스토랑 또는 음식 검색"
                />
                <button id="searchBtn" class="btn btn-orange">
                    <i data-lucide="search"></i> 검색
                </button>

            </form>

        </section>

        <div class="min-h-screen bg-orange-50">
            <section class="restaurant-section">
                <div class="section-header">
                    <h3>검색 결과</h3>
                    <select id="sortId">
                        <option value="rating">인기순</option>
                        <option value="reviewsCount">추천순</option>
                    </select>
                </div>
                <div class="restaurant-grid" id="restaurantGrid3"></div>
                <div class="pagination" id="pagination">
                    <button id="prevPage" class="pagination-btn" disabled>이전</button>
                    <span id="currentPage" class="pagination-text">1 </span> 페이지 / <span id="totalPages">1</span> 페이지
                    <button id="nextPage" class="pagination-btn" disabled>다음</button>
                </div>
            </section>
        </div>



    </div>
    <nav class="toolbar">
        <a href="#home" class="toolbar-item">
            <i data-lucide="home"></i>
            <span>홈</span>
        </a>
        <a href="#search" class="toolbar-item">
            <i data-lucide="search"></i>
            <span>검색</span>
        </a>
        <a href="#favorites" class="toolbar-item">
            <i data-lucide="heart"></i>
            <span>관심매장</span>
        </a>
        <a href="#profile" class="toolbar-item">
            <i data-lucide="user"></i>
            <span>내정보</span>
        </a>
    </nav>
    <script defer src="/js/search.js"></script>
    <script th:inline="javascript">
        // JSON 데이터를 JavaScript 변수로 변환
        let restaurantList = /*[[${restaurantList}]]*/ [];
        console.log(restaurantList); // JSON 객체로 출력
    </script>
</main>
