<!-- left-sidebar-->
<div th:fragment="SidebarFragment" class="left-sidebar bg-light vh-100 p-3">
    <nav class="nav flex-column">
        <!-- Example Menu Items -->
        <a href="/admin/owner-signup" class="nav-link text-dark border rounded mb-2 p-2">
            점주 회원 추가
        </a>
        <a href="/admin/amenity" class="nav-link text-dark border rounded mb-2 p-2">
            편의시설 추가
        </a>
        <a href="/admin/keyword" class="nav-link text-dark border rounded mb-2 p-2">
            키워드 추가
        </a>
    </nav>
</div>